<section class="metodo-pago">
  <h2 class="metodo-pago__titulo">Elige el método de pago</h2>

  <form class="metodo-pago__form">
    <label class="metodo-pago__opcion">
      <input class="metodo-pago__radio" type="radio" name="pago" value="tarjeta" />
      Tarjeta débito/crédito
    </label>

    <label class="metodo-pago__opcion">
      <input class="metodo-pago__radio" type="radio" name="pago" value="transferencia" />
      Transferencia bancaria
    </label>

    <label class="metodo-pago__opcion">
      <input class="metodo-pago__radio" type="radio" name="pago" value="contraentrega" />
      Pago contra entrega
    </label>
  </form>
</section>